<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="AUDIT" intLevel="1000" />
    </CustomLevels>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </Console>
        <File name="AuditLog" fileName="logs/audit.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <!-- Only events at DIAG level or more specific are sent to the console. -->
            <AppenderRef ref="Console" level="diag" />
            <AppenderRef ref="AuditLog" level="audit" />
        </Root>
    </Loggers>
</Configuration>